.page-wrapper {
  padding: 40px 20px;
  /* min-height: 100vh; */
}

.container-section {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.tab {
  padding: 8px 18px;
  border: 2px solid #00acc1;
  background: white;
  color: #00acc1;
  border-radius: 25px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.tab:hover {
  background: #e0f7fa;
}

.tab.active {
  background: #004d5a;
  color: white;
  border-color: #004d5a;
}

.tab-content {
  display: none;
  animation: fadeIn 0.5s ease;
}

.tab-content.active {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  align-items: start;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 
.content-text h3 {
  color: #00acc1;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
*/
.content-text h1 {
  margin: 20px 0 20px;
}

/* 
.content-text p {
  color: #333;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
} */

.content-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-image img {
  /* max-width: 100%; */
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .container {
    padding: 30px 20px;
  }

  .tab-content.active {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .content-text h1 {
    font-size: 28px;
  }

  .content-text p {
    font-size: 15px;
  }

  .content-image {
    order: -1;
  }

  .content-image img {
    height: 300px;
  }

}