.speciality-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
}

.speciality-tabs {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.speciality-tab-item {
    border: 1px solid var(--title-color);
    cursor: "pointer";
    color: var(--title-color);
    padding: 8px 18px;
    background: "none";
    font-weight: 500;
}


.speciality-tab-item .active {
    color: white;
    background-color: var(--title-color);
}

.specialties-card {
    background: #e5f4f7;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    max-width: 1100px;
    margin: auto;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
}

/* Text Section */
.content {
    flex: 1;
}

.title {
    font-size: 26px;
    font-weight: 600;
    color: #003a45;
    margin-bottom: 12px;
}

.description {
    color: #355a61;
    line-height: 1.5;
    margin-bottom: 8px;
    max-width: 90%;
}

.read-more {
    background: transparent;
    border: none;
    color: #006d77;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 16px;
}

.sub-heading {
    font-size: 14px;
    font-weight: 600;
    color: #003a45;
    margin-bottom: 6px;
}

.divider {
    height: 1px;
    background: #bfd6da;
    width: 100%;
    margin-bottom: 16px;
}

/* Buttons */
.button-group {
    display: flex;
    gap: 12px;
}

.outline-btn {
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #006d77;
    background: transparent;
    color: #006d77;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.outline-btn:hover {
    background: #006d77;
    color: #fff;
}

/* Image Section */
.image-wrapper {
    flex: 1;
    display: flex;
    justify-content: end;
}

.image {
    width: 100%;
    max-width: 340px;
    height: 240px;
    object-fit: cover;
    border-radius: 14px;
}

/* Responsive */
@media (max-width: 900px) {
    .specialties-card {
        flex-direction: column;
        text-align: center;
    }

    .image-wrapper {
        justify-content: center;
    }

    .description {
        max-width: 100%;
    }
}