/* Thin scrollbar */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #2b3990;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
}

:root {
  /* variables */
  --primary-color: #FCD34D;
  --secondary-color: #007C9D;
  --title-color: #002D39;
  /* default values */
  color: #646464;

  /* font styles */
  font-family: Figtree, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87); 
    background-color: #242424;*/

  /* optimizing fonts */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html, */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {}

button {
  border: none;
  color: var(--title-color);
  background-color: var(--primary-color);
  padding: 8px 15px;
  border-radius: 50px;
  width: fit-content;
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.1);
  }
}

button:focus,
button:focus-visible {}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
} */